/* Reset Form Elements */
/* Input */
label { display: block; }
input { display: inline-block; }
input { outline: none; }
input:focus { outline: none; }
input, select { vertical-align: middle; }
select:focus { outline: none; }
input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="month"], 
input[type="week"], 
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], 
textarea {
    width: 100%;
}

/* Buttons */
button { 
    width: auto; 
    overflow: visible; 
    }
button, input, select, textarea { 
    font-size: 100%; 
    margin: 0; 
    vertical-align: baseline; 
    *vertical-align: middle; 
    }
button, input[type="button"], 
input[type="reset"], 
input[type="submit"] { 
    cursor: pointer; 
    -webkit-appearance: button; 
    *overflow: visible; 
    }

/* Fieldset */ 
fieldset { margin: 0 0 1em 0; }

