/* Colors */

/* Action */
a { color: #ef518b; }

/* Theme */
h1,h2,h3,h4,h5,h6 { color: #73bdc8; }

/* Alert */
{ color: #ef518b; }

/* Warning */
{ color: #ef518b; }

/* Success */
{ color: #ef518b; }