/* Elements */

/* Add HTML5 elements */
article, 
aside, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
nav, 
section, 
summary { display: block; }

/* Defaults */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
select,
textarea {
  color: #444;
  text-decoration: none; 
  }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; 
  }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; 
  }

table {
  border-collapse: collapse;
  border-spacing: 0; 
  }