/* Form Elements */
/* Input */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  width: 100%;
  line-height: 1.5em;
  padding: 0.375em 0.25em;
}

/* Buttons */
button {
  width: auto;
  overflow: visible;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
  border-style: solid;
  border-width: 2px;
  
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: .875rem;
  font-weight: 300;
  line-height: 1.625em;
  margin: 0 0 1.125em;
  
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 0.625em 1.375em;
  
  background-color: #f5548c;
  border-color: rgba(245, 84, 140, 0);
  color: white;
}

button:hover, 
button:focus, 
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

	button.disabled,
	button[disabled],
	input[type="button"].disabled,
	input[type="reset"].disabled,
	input[type="submit"].disabled {
	  background-color: rgba(245, 84, 140, 0.3);
	  border-color: rgba(245, 84, 140, 0);
	}

  button.disabled:hover, 
  button.disabled:focus, 
  button[disabled]:hover, 
  button[disabled]:focus, 
  .button.disabled:hover, 
  .button.disabled:focus, 
  .button[disabled]:hover, 
  .button[disabled]:focus,
  input[type="button"].disabled:hover,
  input[type="button"].disabled:focus,
  input[type="reset"].disabled:hover,
  input[type="button"].disabled:focus,
  input[type="submit"].disabled:hover,
  input[type="button"].disabled:focus {
  	cursor: default;
  }

button.secondary,
input[type="button"].secondary,
input[type="reset"].secondary,
input[type="submit"].secondary {
	background-color: white;
	border-color: #f5548c;
	color: #f5548c;
}

  button.secondary:hover, 
  button.secondary:focus, 
  input[type="button"].secondary:hover,
  input[type="button"].secondary:focus,
  input[type="reset"].secondary:hover,
  input[type="reset"].secondary:focus,
  input[type="submit"].secondary:hover,
  input[type="submit"].secondary:focus {
  	background-color: #ffeff4;
  }
  
  button.secondary.disabled,
  input[type="button"].secondary.disabled,
  input[type="reset"].secondary.disabled,
  input[type="submit"].secondary.disabled {
  	border-color: #bbb;
  	color: #bbb;
  }
  
  button.secondary.disabled:hover, 
  button.secondary.disabled:focus, 
  button[disabled].secondary:hover, 
  button[disabled].secondary:focus, 
  .button.secondary.disabled:hover, 
  .button.secondary.disabled:focus, 
  .button[disabled].secondary:hover, 
  .button[disabled].secondary:focus {
  	background: white;
  	cursor: default;
  }

/* Fieldset */
fieldset,
.field {
  margin: 0 0 0.875em 0;
}

.legend {
	padding: 0.5em 0;
}

fieldset p {
	text-align: left;
	font-size: 85%;
}

.inset fieldset,
.inset .field {
  position: relative;
}

.inset label,
.inset span {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  color: #999;
}

  .inverse .inset label {
    top: .625em;
    left: 1em;
  }
.inset span.status,
.inset span.strength {
	left: auto;
	right: 1em;	
}

.inset input[type="text"],
.inset input[type="password"],
.inset input[type="date"],
.inset input[type="datetime"],
.inset input[type="datetime-local"],
.inset input[type="month"],
.inset input[type="week"],
.inset input[type="email"],
.inset input[type="number"],
.inset input[type="search"],
.inset input[type="tel"],
.inset input[type="time"],
.inset input[type="url"] {
  padding-left: 6em;
}

