/* Inverse */

.inverse {
  background: #98d1da;
  text-align: center;
}

.inverse h1, 
.inverse h2, 
.inverse h3, 
.inverse h4, 
.inverse h5, 
.inverse h6 {
  text-transform: uppercase;
}

.inverse h1, 
.inverse h2, 
.inverse h3, 
.inverse h4, 
.inverse h5, 
.inverse h6,
.inverse p {
  color: white;
}

.inverse .top-bar {
  background: white;
}

	.inverse .top-bar h1 {
	  font-size: 1.5em;
	  line-height: 2.12em; 
	  color: #73bdc8;
	  text-transform: uppercase;
	  padding-left: 0;
	}

.inverse label {
  text-align: left;
}

.inverse button,
.inverse input[type="button"],
.inverse input[type="reset"],
.inverse input[type="submit"],
.inverse label {
  font-size: 75%;
  text-transform: uppercase;
}

.inverse button,
.inverse input[type="button"],
.inverse input[type="reset"],
.inverse input[type="submit"] {
  width: 100%;
  line-height: 2.5em;
}

.inverse .inset label {
  top: .625em;
  left: 1em;
}
