/* Typography */

html {
  font-size: 16px;
  line-height: 1.625em;
  }

body {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  }

/* Colors */

/* Action */
a { color: #ef518b; }

/* Theme */
h1,h2,h3,h4,h5,h6 { color: #73bdc8; }

/* Blank */
.blank { background: white; }

/* Attention */
.attention { background: #98d1da !important; }
  .attention p { 
    font-weight: bold;
    color: white;
    font-size: 85%; }

/* Alert */
.alert { background: #fe6465 !important; }

/* Warning */
.warning { background: #ff9600 !important; }

/* Success */
.success { background: #8ec448 !important; }

/* Value */
.value { 
  color: #988d25 !important;
  background: #edde40 !important; }