/* Colors */

/* Action */
a { color: #ef518b; }

/* Theme */
h1,h2,h3,h4,h5,h6 { color: #73bdc8; }

/* Alert */
{ color: #fe6465; }

/* Warning */
{ color: #fca04f; }

/* Success */
{ color: #5cc94f; }